{% load static %}

 <header class="header">
    <div class="container container--narrow">
        <a href="{% url 'projects' %}" class="header__logo">
            <img src="{% static 'images/logo.svg' %}" alt="DevSearch Logo" />
        </a>
        
        <!-- Mobile Menu Button -->
        <button class="mobile-menu-toggle" id="mobileMenuToggle">
            <span class="toggle-line"></span>
            <span class="toggle-line"></span>
            <span class="toggle-line"></span>
        </button>
        
        
        <!-- Navigation -->
        <nav class="header__nav" id="mainNav">
            <ul class="header__menu">
                <li class="header__menuItem"><a href="{% url 'profiles' %}">Developers</a></li>
                <li class="header__menuItem"><a href="{% url 'projects' %}">Projects</a></li>
                <li class="header__menuItem"><a href="{% url 'about' %}">About Us</a></li>
                {% if request.user.is_authenticated %}
                <li class="header__menuItem"><a href="{% url 'account' %}">Account</a></li>
                <li class="header__menuItem"><a href="{% url 'logout' %}" class="btn btn--sub">Logout</a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
</header>